.statistics {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    text-align: center;

}

.winners-section, .losses-section, .player-graph-section {
    margin: 20px;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.winners-section ul, .losses-section ul {
    list-style: none;
    padding: 0;
}

.winners-section li, .losses-section li {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.winners-section li:hover, .losses-section li:hover {
    background-color: #e9ecef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.player-graph-section {
    max-width: 600px;
    margin: 20px auto;
}
