* {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bgColor);

    /*--bgColor: rgb(29, 29, 43);*/
    --bgColor: rgb(0, 0, 20);
    --titleColor: rgb(255, 255, 255);
    --textColor: rgb(181, 185, 214);
    --btnColor: rgb(48, 48, 67);
    --fluoColor: rgb(19, 154, 255);

    --btnColorHover: rgb(62, 62, 86);
    --fluoColorHover: rgb(13, 125, 186);
}

section {
    padding: 0 2rem;
}

h1, p, span, a {
    transition-property: all;
    transition-duration: .15s;
}

h1 {
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -.025em;
    margin: 0;
    color: var(--titleColor);
}

p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--textColor);
}

span {
    color: var(--fluoColor);
}

/* Add this to style the scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--fluoColor);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--fluoColorHover);
}

::-webkit-scrollbar-track {
    background-color: var(--btnColor);
}

::-webkit-scrollbar-track:hover {
    background-color: var(--btnColorHover);
}
