.play {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hangman-container {
    text-align: center;
    margin-bottom: 20px;
}

.hangman-image {
    max-width: 140px;
    width: 100%;
}

.word-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.letter {
    margin: 0 5px;
    padding: 5px;
    font-size: 24px;
    text-transform: uppercase;
}
.letter-buttons {
    text-align: center;
}
.letter-buttons {
    text-align: center;
}

.letter-buttons button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background: var(--fluoColor);
    color: var(--titleColor);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.letter-buttons button:hover {
    background: var(--fluoColorHover);
}

.letter-buttons button:disabled {
    background: var(--bgColor);
    cursor: not-allowed;
}

.propose-word-container {
    margin-top: 20px;
    padding: 10px;
}

.propose-container {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.propose-word-input {
    max-width: 280px;
    padding: 10px 15px;
    margin: auto 10px auto auto;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    color: var(--titleColor);
    background: var(--btnColor);
}

.propose-button-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    width: 100%;
}

.propose-button-container .propose-word-button {
    margin-top: 10px;
}

.propose-word-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: var(--fluoColor);
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-size: 1rem;
}

.propose-word-button:hover {
    background: var(--fluoColorHover);
}

.win-message {
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
}

.lose-message {
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
}

@media screen and (max-width: 890px) {
    .propose-word-input,
    .propose-word-button {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .hangman-image {
        width: 30%;
    }
}











.ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -999;
}

.wave {
    position: absolute;
    width: 6400px;
    top: -198px;
    left: 0;
    height: 198px;
    transform: translate(0, 0, 0);
    animation: wave 7s ease infinite;
}

.wave:nth-of-type(2) {
    top: -168px;
    animation: swell 4s ease infinite;
    opacity: 1;
}

@keyframes wave {
    0% { margin-left: 0; }
    100% { margin-left: -1600px;}
}
@keyframes swell {
    0%, 100% {
        transform: translate(0, -30px);
    }
    50% {
        transform: translate(0, 5px);
    }
}